@model ExploreRussia.Domain.Models.Guide

@{
    ViewData["Title"] = "Создание";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h4 class="text-center">Гид</h4>
<hr />
<div class="row justify-content-center">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger col-md-6">
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }

    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceYears" class="control-label"></label>
                <input asp-for="ExperienceYears" class="form-control" />
                <span asp-validation-for="ExperienceYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Фотография</label>
                <input type="file" asp-for="ImageUrl" class="form-control-file" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a asp-action="EditList" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
