@{
    ViewData["Title"] = "Админ панель";
}

<h1>Админ панель</h1>

<p>Добро пожаловать!</p>

<a asp-controller="Guide" asp-action="Index">Manage Guides</a>
<a asp-controller="Trip" asp-action="Index">Manage Trips</a>